*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f133e;
}
h1{
    text-align: center;
    font-size: 60px;
    color: white;
}
form{
    text-align: center;
    margin-top: 20px;
    background-color:rgb(17, 121, 206);
    padding:20px;
    border:2px solid black;
    border-radius: 10px;
}
input{
    outline: none;
    /* border: none; */
    width:150px;
    height: 30px;
    padding:5px;
    border-radius: 5px;
    font-size: 20px;

    
}
button{
    outline: none;
    /* border: none; */
    width:150px;
    height: 54px;
    padding:10px;
    font-size: 22px;
    border-radius: 10px;
    
}
select{
    width: 150px;
    height: 42px;
    font-size: 15px;
    color: black;
    border-radius: 5px;
}

.container{
    width:60%;
    max-height:430px;
    /* border: 2px solid rgb(17, 121, 206); */
    padding:30px 20px;
    margin: 40px 40px 0;
    display: none;
    overflow: scroll;
    /* scrollbar-width: 0px; */
    
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    width: 94%;
    padding: 5px;
    margin: 15px;
    color: white;
    background-color: rgb(17,121,206);
}

.div4{
    width: 22%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}


.container::-webkit-scrollbar{
        display: none;
    }
    ::placeholder{
        color: black;
    }
